/* logo*/

.k&acake {
position:absolute;
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:8px;
font-family:Lily Script One;
line-height:auto;
border-style:hidden;
outline:none;
width:66px;
}

.rectangle17 {
position:absolute;
background-color:#b942f8;
height:11px;
width:236px;
}