/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c54bcb;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 20%;
    font-weight: bold;
    bottom: 30%;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

.icons {
    display: flex;
    gap: 15px;
}

/* Banner principal */
.banner {
    position: relative;
    width: 100%;
    height: 300px; /* Ajusta la altura del banner según sea necesario */
    background-image: url('IMG/FONDO.png'); /* Imagen de fondo del banner */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
}

/* Contenedor de las imágenes superpuestas */
.overlay {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* Imagen del pastel */
.pastel_principal-image {
    position: absolute;
    left: 10%; /* Posiciona la imagen del pastel a la izquierda */
    bottom: 55px; /* Ajusta este valor para mover la imagen hacia arriba o abajo */
    width: 200px; /* Ajusta el tamaño de la imagen del pastel */
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* Imagen del logo */
.logo2 {
    position: absolute;
    bottom: 40%; /* Ajusta este valor para centrar verticalmente el logo */
    left: 70%;
    transform: translateX(-50%);
    width: 300px; /* Ajusta el tamaño del logo */
    height: auto;
}
/* Filtros y ordenamiento */
.filter-order {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f0f0f0;
}

.filter, .sort {
    color: #666;
    font-size: 14px;
}

/* Galería de productos */
.gallery {
    text-align: center;
    padding: 20px;
}

.gallery h2 {
    font-size: 24px;
    color: #c54bcb;
    margin-bottom: 20px;
}

.product {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px;
}

.product p {
    font-size: 14px;
    color: #666;
}

.product button {
    background-color: #c54bcb;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
